<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_gallery_layout.name %>
</p>

<p>
  <strong>Introduction page layout:</strong>
  <%= @custom_gallery_layout.introduction_page_layout %>
</p>

<p>
  <strong>Photo page layout:</strong>
  <%= @custom_gallery_layout.photo_page_layout %>
</p>

<p>
  <strong>Status:</strong>
  <%= @custom_gallery_layout.status %>
</p>

<p>
  <strong>Custom link:</strong>
  <%= @custom_gallery_layout.custom_link %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @custom_gallery_layout.release_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @custom_gallery_layout.expiration_date %>
</p>

<p>
  <strong>Gallery access privacy:</strong>
  <%= @custom_gallery_layout.gallery_access_privacy %>
</p>

<p>
  <strong>Password:</strong>
  <%= @custom_gallery_layout.password %>
</p>

<p>
  <strong>Email require:</strong>
  <%= @custom_gallery_layout.email_require %>
</p>

<p>
  <strong>Cropping:</strong>
  <%= @custom_gallery_layout.cropping %>
</p>

<p>
  <strong>Preregistration:</strong>
  <%= @custom_gallery_layout.preregistration %>
</p>

<p>
  <strong>Black and white filtering:</strong>
  <%= @custom_gallery_layout.black_and_white_filtering %>
</p>

<p>
  <strong>Studio link:</strong>
  <%= @custom_gallery_layout.studio_link %>
</p>

<p>
  <strong>Show filename:</strong>
  <%= @custom_gallery_layout.show_filename %>
</p>

<p>
  <strong>Social sharing link:</strong>
  <%= @custom_gallery_layout.social_sharing_link %>
</p>

<p>
  <strong>Content:</strong>
  <%= @custom_gallery_layout.content %>
</p>

<p>
  <strong>Min order:</strong>
  <%= @custom_gallery_layout.min_order %>
</p>

<p>
  <strong>Add photo to cart:</strong>
  <%= @custom_gallery_layout.add_photo_to_cart %>
</p>

<p>
  <strong>Pay later:</strong>
  <%= @custom_gallery_layout.pay_later %>
</p>

<p>
  <strong>Pickup option:</strong>
  <%= @custom_gallery_layout.pickup_option %>
</p>

<p>
  <strong>Checkout message:</strong>
  <%= @custom_gallery_layout.checkout_message %>
</p>

<p>
  <strong>Digital download:</strong>
  <%= @custom_gallery_layout.digital_download %>
</p>

<p>
  <strong>Entire gallery download:</strong>
  <%= @custom_gallery_layout.entire_gallery_download %>
</p>

<p>
  <strong>Hide photos:</strong>
  <%= @custom_gallery_layout.hide_photos %>
</p>

<p>
  <strong>Archiving:</strong>
  <%= @custom_gallery_layout.archiving %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @custom_gallery_layout.is_default %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @custom_gallery_layout.brand_id %>
</p>

<%= link_to 'Edit', edit_custom_gallery_layout_path(@custom_gallery_layout) %> |
<%= link_to 'Back', custom_gallery_layouts_path %>
