<p id="notice"><%= notice %></p>

<p>
  <strong>Subdomain:</strong>
  <%= @studio_home_page.subdomain %>
</p>

<p>
  <strong>Homepage layout:</strong>
  <%= @studio_home_page.homepage_layout %>
</p>

<p>
  <strong>Event list:</strong>
  <%= @studio_home_page.event_list %>
</p>

<p>
  <strong>Email field:</strong>
  <%= @studio_home_page.email_field %>
</p>

<p>
  <strong>Sort on:</strong>
  <%= @studio_home_page.sort_on %>
</p>

<p>
  <strong>About:</strong>
  <%= @studio_home_page.about %>
</p>

<p>
  <strong>Fb url:</strong>
  <%= @studio_home_page.fb_url %>
</p>

<p>
  <strong>Twitter username:</strong>
  <%= @studio_home_page.twitter_username %>
</p>

<p>
  <strong>Intagram username:</strong>
  <%= @studio_home_page.intagram_username %>
</p>

<p>
  <strong>Pinterest username:</strong>
  <%= @studio_home_page.pinterest_username %>
</p>

<p>
  <strong>Show about:</strong>
  <%= @studio_home_page.show_about %>
</p>

<p>
  <strong>Show phone:</strong>
  <%= @studio_home_page.show_phone %>
</p>

<p>
  <strong>Show address:</strong>
  <%= @studio_home_page.show_address %>
</p>

<p>
  <strong>Show email:</strong>
  <%= @studio_home_page.show_email %>
</p>

<p>
  <strong>Show website link:</strong>
  <%= @studio_home_page.show_website_link %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @studio_home_page.brand.brand_name %>
</p>

<%= link_to 'Edit', edit_studio_home_page_path(@studio_home_page) %> |
<%= link_to 'Back', studio_home_pages_path %>
