<p id="notice"><%= notice %></p>

<h1>Listing Gallery Visitors</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Gallery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_visitors.each do |gallery_visitor| %>
      <tr>
        <td><%= gallery_visitor.email %></td>
        <td><%= gallery_visitor.gallery %></td>
        <td><%= link_to 'Show', gallery_visitor %></td>
        <td><%= link_to 'Edit', edit_gallery_visitor_path(gallery_visitor) %></td>
        <td><%= link_to 'Destroy', gallery_visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery visitor', new_gallery_visitor_path %>
