<p id="notice"><%= notice %></p>

<h1>Listing Default Email Template Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_email_template_types.each do |default_email_template_type| %>
      <tr>
        <td><%= default_email_template_type.name %></td>
        <td><%= link_to 'Show', default_email_template_type %></td>
        <td><%= link_to 'Edit', edit_default_email_template_type_path(default_email_template_type) %></td>
        <td><%= link_to 'Destroy', default_email_template_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default email template type', new_default_email_template_type_path %>
