<% content_for :head, "GalleryProofing | Add Photos"%>
<% content_for :body_class, "gallery-addphoto"%>
<!-- top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- title -->
      <div class="page-title">
        <div class="row">
          <div class="col-md-6 col-sm-5 col-xs-12">
            <%=link_to galleries_galleryhome_path(id: params[:gallery_id]) do%>
              <span class="fa circle fa-arrow-left back-btn"></span>
            <%end%>
            <h2>
              <div id="pageTitleHeaderText">Add Photos</div>
            </h2>
            <h5><%= @name.title %></h5>
          </div>
          <div class="col-md-6 col-sm-7 col-xs-12">
            <div class="btn-group on-page-help-container">
              <a href="#" class="on-page-help dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-question"></span>
              </a>
              <ul id="onPageHelp" class="dropdown-menu dropdown-menu-right arrow-upper-right" role="menu">
                <li><a href="#" target="_blank">Can I download all of my contacts' information?</a></li>
                <li><a href="#" target="_blank">How do I add and edit contacts?</a></li>
                <li><a href="#" target="_blank">How do I view a contact's activity?</a></li>
                <li><a href="#" class="bold" target="_blank">Browse Full Knowledge Base</a></li>
                <li><a href="#" >Email Us</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- /title -->
    </div>
  </div>
</div>
<!-- /top -->
<!-- main -->
<div class="container-fluid">
  <div class="add-photos">
    <div class="row">
      <div id="Two" class="col-lg-6 col-lg-offset-3">
        <div class="dropzone">
          <!-- upload -->
          <%= form_for @context,url: albums_save_photos_path, html: {:class => "upload", multipart: true}, method: :post do |f| %>
          <div class="upload-options-section">
            <a href="#" class="upload-options-toggle"><span class="fa fa-plus circle"></span> Upload Options</a>
            <!-- options -->
            <div class="options" style="display:none;">
              <table>
                <tbody>
                  <tr>
                    <td>Add to Album:</td>
                    <td>
                      <!-- <select class="form-control input-lg"> -->
                      <%= select_tag "select_album",content_tag(:option,'- No Album (Skip) -',:value=>"no_album")+options_from_collection_for_select(@gallery_album, 'id', 'title',{disabled: -> (album) { album.children_album.present? }}) ,{class: "selectpicker ","data-live-search" => "true"} %>
                      <a href="#" data-toggle="modal" data-target="#newalbum-modal"><span class="fa fa-plus circle"></span> New Album</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Allow Duplicates:</td>
                    <td><input type="checkbox"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /options -->
            </div>
            <!-- /upload -->
            <!-- watermark -->
            <div class="watermark-settings">
              <span class="text-uppercase">Watermark:</span>
              <select class="selectpicker" data-live-search="true"> <!-- form-control input-lg -->
                <option>No Watermark</option>
                <option>Studio Watermark</option>
              </select>
            </div>
            <!-- /watermark -->
            <!-- upload main -->
            <div class="text-center main-text">
              <div class="wrapper">
                <div class="queue-empty">
                  <h3>Drag Photos Here</h3>
                  <p>or</p>
                </div>
                <div class="photos-queued" style="display: none;">
                  <p><span class="fa fa-image"></span><span class="queue-count"> 0 </span> photos in queue</p>
                </div>


                <% if @photo.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

                  <ul>
                    <% @photo.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
                <% end %>
                <%= f.fields_for @photo do |photo| %>
                  <div class="queue-empty">
                    <span class="btn btn-primary btn-file">
                      <div>
                        <%= hidden_field_tag :gallery_id, params[:gallery_id]%>
                        <%= hidden_field_tag :album_id, params[:album_id]%>
                        <%= hidden_field_tag :images %>
                      </div>
                      <span class="fileinput-new">Click to Browse</span>
                      <%= photo.file_field :image,multiple: true,id: "File-Upload"%>
                      <%= hidden_field_tag "files" %>
                    </span>
                  </div>

                <div class="actions photos-queued margin-top" style="display: none;">
                  <p><%= f.submit "Start Upload",id: "Upload", class: "btn btn-primary actions"%></p>
                  <p>or add more</p>
                  <p>
                    Drag or
                    <span class="btn btn-default btn-xs btn-file">
                      <span class="fileinput-new">Browse</span>
                      <%= photo.file_field :image,multiple: true,id: "Extra-File-Upload"%>
                    </span>
                  </p>
                </div>
                <% end %>
                <div class="upload-warnings" style="display:none">
                  <div class="alert alert-warning">
                    <span class="num"></span> photos was not added to the queue.
                    <span class="duplicates">Photos cannot have duplicate filenames.</span>
                    <span class="unsupported">Only JPEG photos are supported.</span>
                  </div>
                </div>
                </div>
              </div>
              </div>
            </div>

            <!-- /upload main -->
            <% end %>
          </div>
        </div>
      </div>
    <div id="One">1234567890</div>
    </div>
  </div>

  <!-- Add Album Modal -->
  <div class="modal fade" id="newalbum-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create a New Album</h4>
        </div>
        <%= form_for @album,url: {controller: "albums",action: "create",album_id: params[:album_id],gallery_id: params[:gallery_id  ]} do |f| %>
        <div class="modal-body">

          <div class="field">
            <%= f.label :title,"New Album Name: " %><br>
            <%= f.text_field :title ,  class: "form-control"%>
          </div>
          <% if params[:album_id].present?%>
            <div>
              <%= f.hidden_field :gallery_id, value: params[:gallery_id]%>
              <%= f.hidden_field :parent, value: params[:album_id]%>
              <%= f.hidden_field :level, value: @name.level+1%>
            </div>
          <%else%>
            <div>
              <%= f.hidden_field :gallery_id, value: params[:id]%>
              <%= f.hidden_field :parent, value: 0%>
              <%= f.hidden_field :level, value: 0%>
            </div>
          <%end%>
        </div>
        <div class="modal-footer">
          <div class="actions">
            <%=link_to "Cancel",galleries_galleryhome_path(id: params[:id]),class: "btn btn-default"%>
            <%= f.submit "Add Album",class: "btn btn-primary"%>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
  <!-- /mMdal -->

  <!-- /main -->


  <script type="text/javascript">
    $(document).ready(function(){
      $('.upload-options-toggle').click(function(){
        $('.options').toggle();
      });
    });
  </script>

  <!-- <script>
  $(document).ready(function(){
    $('input[type=file]').change(function(e){
      filename = $(this).val();
      $("#hidden_filename").attr("value", filename);
      if($("#hidden_filename").val()!="")
      {
        $(".queue-empty").css("display","none");
        $(".photos-queued").css("display","block");
      }

    });

  })
  </script> -->
  <!-- <script>
  var main_array = [];
  var main_array_name = [];
  $("#File-Upload").change(function(){
    var inp = document.getElementById('File-Upload');
    var names = $.map(inp.files, function(val) { return val.name; });
    var file_array = jQuery.makeArray(inp.files);
    var new_file_array = [];
    $.each(file_array,function(i,val1){
      var fileExtension = ['jpeg', 'jpg'];
      if ($.inArray(val1.name.split('.').pop().toLowerCase(), fileExtension) == -1) {
          console.log("not valid");
      }else{
        new_file_array.push(val1);
      }
    });
    $.each(new_file_array,function(i,val2){
      // alert(val2.name);
      main_array_name.push(val2.name);
      main_array.push(val2);
      if ($("#images").val() == ""){
        $("#images").val($("#images").val()+val2);
      }else{
        $("#images").val($("#images").val()+","+val2);
      }
    });
    if((file_array.length - new_file_array.length) > 0){
      $(".num").text(main_array.length);
      $(".upload-warnings").show();
      $(".upload-warnings .duplicates").hide();
      $("#files").val(new_file_array);
      $(".dropzone").css("border-color","#EF5E5E");
    }
    $(".queue-count").text(main_array.length);
    console.log(main_array.length);

  });

  $("#Extra-File-Upload").change(function(){
    var inp = document.getElementById('Extra-File-Upload');
    var names = $.map(inp.files, function(val) { return val.name; });
    var file_array = jQuery.makeArray(inp.files);
    var new_file_array = [];
    $.each(file_array,function(i,val1){
      var fileExtension = ['jpeg', 'jpg'];
      if ($.inArray(val1.name.split('.').pop().toLowerCase(), fileExtension) == -1) {
          console.log("not valid");
      }else{
        new_file_array.push(val1);
      }
    });
    $.each(new_file_array,function(i,val1){
      // alert(val1);
      if ($.inArray(val1.name, main_array_name) == -1) {
          console.log("not valid");
      }else{
        main_array.push(val1);
        main_array_name.push(val1.name);
        if ($("#images").val() == ""){
          $("#images").val($("#images").val()+val2);
        }else{
          $("#images").val($("#images").val()+","+val2);
        }
        // $.each(new_file_array,function(i,val2){
        //   alert(val2.name);
        //   $.each(main_array_name,function(i,name){
        //     if($.inArray(name,main_array_name)==-1){
        //
        //     }
        //   })
        // });
      }
    });

    // main_array.push(new_file_array);
    if((file_array.length - new_file_array.length) > 0){
      $(".num").text(main_array.length);
      $(".upload-warnings").show();
      $(".upload-warnings .duplicates").hide();
      $("#files").val(new_file_array);
      $(".dropzone").css("border-color","#EF5E5E");
    }
    $(".queue-count").text(main_array.length);
  });

  </script> -->
  <!-- <script>
  $(document).ready(function(){
    // disable auto discover
    Dropzone.autoDiscover = false;

    var dropzone = new Dropzone ("#photo_upload", {
      maxFilesize: 256, // set the maximum file size to 256 MB
      paramName: "params[:album][:photo][:image]", // Rails expects the file upload to be something like model[field_name]
      addRemoveLinks: false // don't show remove links on dropzone itself.
    });

    dropzone.on("success", function(file) {
      this.removeFile(file);
      $.getScript("/images");
    })
  });
</script> -->

<script>
$("#File-Upload").change(function()
{
    var inp = document.getElementById('File-Upload');
    var names = $.map(inp.files, function(val) { return val.name; });
    var file_array = jQuery.makeArray(inp.files);
    var dup_array = jQuery.makeArray(inp.files);
    var new_file_array = [];
    var dupli_img = 0;
    var ext_img = 0 ;

    $.each(file_array,function(i,val1)
    {
        var fileExtension = ['jpeg', 'jpg'];
        if ($.inArray(val1.name.split('.').pop().toLowerCase(), fileExtension) == -1)
        {
            ext_img = ext_img + 1 ;
        }
    })

    $.each(dup_array,function(i,val1)
    {
      var photos = '<%= @photos %>'.replace(/&quot;/g, "'") ;
      photos =  photos.replace(/'/g, '"');
      photos = JSON.parse(photos);
      console.log(photos );
      // console.log(val1.name);
      if (/\s/.test(val1.name))
      {
          var valname = val1.name.split(" ").join("_") ;
          console.log(valname);
      }
      else
      {
          var valname = val1.name ;
          console.log(valname);
      }

      if ($.inArray(valname , photos ) == -1)
      {
      }
      else
      {
          dupli_img =  dupli_img + 1 ;
      }
    })
    if(dupli_img + ext_img > 0)
    {
      $(".upload-warnings").show();
      $(".num").show();
      $(".duplicates").hide();
      $(".unsupported").hide();
    }

      if( file_array.length - (dupli_img + ext_img) > 0)
      {
        var a =  dupli_img ;
        var b =  ext_img ;
        var c = dupli_img + ext_img ;

        $(".num").text(c);
        if(a > 0)
        {
          $(".duplicates").show();
        }
        if(b > 0)
        {
          $(".unsupported").show();
        }
        if(file_array.length > dupli_img + ext_img)
        {
            $(".photos-queued").css("display","block");
            $(".queue-empty").css("display","none");
        }
        $("#files").val(new_file_array);
        // $(".dropzone").css("border-color","#EF5E5E");
        $(".queue-count").text(file_array.length - c);

      }
      else
      {
        var a =  dupli_img ;
        var b =  ext_img ;
        var c = dupli_img + ext_img ;
        $(".num").text(c);
        if(a > 0)
        {
          $(".duplicates").show();
        }
        if(b > 0)
        {
          $(".unsupported").show();
        }
        $(".photos-queued").css("display","none");
        $(".queue-empty").css("display","block");

      }

  })


</script>
