
<!--nav-->
<nav class="navbar navbar-default client-nav client-nav-dark">
  <div class="container-fluid">
    <div classs="row">
      <div class="col-lg-12 text-center">
        <div class="tabing-client" id="mainNavigation">
        </div>
      </div>
    </div>
  </div>
</nav>
<!--nav-over-->
  <div class="container-fluid">
    <div class="row">
        <div class="row mange-block">
          <h1 class="no-photo-value">Redirecting to Paypal for Payment.</h1>
        </div>
    </div>
  </div>
  <%= form_tag "https://www.paypal.com/cgi-bin/webscr", name: "cartCheckout" do %>
    <%= hidden_field_tag :cmd, "_xclick" %>
    <%= hidden_field_tag :business, @gateway_credentials %>
    <%= hidden_field_tag :item_name, "#{@brand} Photos" %>
    <%= hidden_field_tag :item_number, @photos %>
    <%= hidden_field_tag :amount, @amount %>
    <%= hidden_field_tag :currency_code, "USD" %>
  <% end %>

<script>
$(document).ready(function(){
    setTimeout(function(){ $('form').submit(); }, 1000);
});
</script>
