<!-- top -->
<%= form_for(@automation_series_email_template) do |f| %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- title -->
      <div class="page-title">
        <div class="row">
          <div class="col-md-6 col-sm-5 col-xs-5">
            <%= link_to automation_series_index_path do %>
              <span class="fa circle fa-arrow-left back-btn"></span>
            <% end %>
            <h2>
              <div id="pageTitleHeaderText"><%= @automation_series_email_template.template_name %></div>
            </h2>
          </div>
          <div class="col-md-6 col-sm-7 col-xs-7">
            <div class="btn-group on-page-help-container">
              <a href="#" class="on-page-help dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-question"></span>
              </a>
              <ul id="onPageHelp" class="dropdown-menu dropdown-menu-right arrow-upper-right" role="menu">
                <li><a href="#" class="bold" target="_blank">Browse Full Knowledge Base</a></li>
                <li><%= link_to "#", target: "_blank" do %>
                  <span class="email"><i class="fa fa-envelope"></i></span>Email-Us
                <% end %></li>
              </ul>
            </div>
            <div class="right-buttons text-right">
              <%= f.submit "Save", class: "btn btn-primary" %>
              <%= link_to "Cancel", automation_series_index_path, class: "btn btn-default"%>
            </div>
          </div>
        </div>
      </div>
      <!-- /title -->
    </div>
  </div>
</div>
<!-- /top -->

<!-- main -->
<% if @automation_series_email_template.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@automation_series_email_template.errors.count, "error") %> prohibited this automation_series_email_template from being saved:</h2>
  <ul>
    <% @automation_series_email_template.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="border-up-side"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.hidden_field :automation_series_id, value: params[:group_id] %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.label :email_template_id, "Choose Email Template" %><br>
      <%= f.collection_select :email_template_id, current_brand.email_templates.all, :id,:name, {prompt: "Select Email Template" },{class: "form-control input-lg email-add-1"} %>
    </div>
  </div>

  <div class="row set-trigger">
    <div class="col-lg-6 ">
      <%= f.label :default_receipient_type_id, "Recipients" %><br>
      <%= f.collection_select :default_receipient_type_id, DefaultReceipientType.all, :id,:name, {prompt: "Select Recipients" },{class: "form-control input-lg  email-add-2 selectpicker"} %>
      <div class="checkbox checked-box">
        <input type="checkbox" name="remember" checked="checked">
        <label for="remember" class="optional">Copy Studio on Email Sends</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 form-group">
      <%= f.label :default_trigger_type_id, "Trigger Type" %><br>
      <%= f.collection_select :default_trigger_type_id, DefaultTriggerType.all, :id,:name, {prompt: "Select Trigger Type" },{class: "form-control input-lg  email-add-2 selectpicker"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 form-group">
      <%= f.label :trigger_days %><br>
      <%= f.number_field :trigger_days, class: "form-control trigger-1", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 form-group">
      <%= f.label :template_name, "Name" %><br>
      <%= f.text_field :template_name, class: "form-control trigger-1", required: true %>
    </div>
  </div>
</div>
<% end %>
