<p id="notice"><%= notice %></p>

<p>
  <strong>Automation series:</strong>
  <%= @automation_series_email_template.automation_series %>
</p>

<p>
  <strong>Email template:</strong>
  <%= @automation_series_email_template.email_template %>
</p>

<p>
  <strong>Default receipient type:</strong>
  <%= @automation_series_email_template.default_receipient_type %>
</p>

<p>
  <strong>Default trigger type:</strong>
  <%= @automation_series_email_template.default_trigger_type %>
</p>

<p>
  <strong>Trigger days:</strong>
  <%= @automation_series_email_template.trigger_days %>
</p>

<p>
  <strong>Template name:</strong>
  <%= @automation_series_email_template.template_name %>
</p>

<%= link_to 'Edit', edit_automation_series_email_template_path(@automation_series_email_template) %> |
<%= link_to 'Back', automation_series_email_templates_path %>
