
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-3 col-xs-offset-5">
                <div class="sp-modal-content">
                  <h1 class="theme-color-primary no-description">
                    <span class="font-text ng-binding">Share Photo</span>
                  </h1>
                <div>
                  <a class="btn btn-icon theme-button social facebook" href="https://www.facebook.com/dialog/feed?app_id=1004194373003354&link=<%= facebook_sharing_url(brand: params[:brand],gallery: params[:gallery])%>&picture=http://fbrell.com/f8.jpg&name=<%= @gallery.name %>&caption= galleryproofing.com
                  &description=<%= @content %>">
                    <svg class="sp-svg" version="1.1" viewBox="0 0 7.27 14"><path d="M2.149,14V7.614H0V5.125h2.149V3.29C2.149,1.16,3.45,0,5.35,0c0.91,0,1.692,0.068,1.92,0.098v2.226L5.953,2.325c-1.033,0-1.233,0.491-1.233,1.212v1.589h2.464L6.863,7.614H4.719V14H2.149z"></path></svg>
                    <span class="font-text">Facebook</span>
                  </a>

                </div>
                <div>
                  <a class="btn btn-icon theme-button social twitter" href="http://twitter.com/share?text=<%= @content %>&url=<%=view_gallery_url(brand: params[:brand],gallery: params[:gallery])%>">
                    <svg class="sp-svg" version="1.1" viewBox="0 0 14.766 12"><path d="M14.766,1.421c-0.543,0.241-1.127,0.404-1.74,0.477c0.625-0.375,1.106-0.969,1.332-1.676c-0.585,0.347-1.234,0.599-1.924,0.735C11.882,0.368,11.094,0,10.223,0c-1.673,0-3.03,1.356-3.03,3.029c0,0.237,0.027,0.469,0.078,0.69c-2.518-0.126-4.75-1.332-6.244-3.165c-0.261,0.447-0.41,0.968-0.41,1.523c0,1.051,0.535,1.978,1.348,2.522C1.469,4.583,1.002,4.447,0.593,4.22c0,0.013,0,0.025,0,0.038c0,1.468,1.044,2.692,2.43,2.971C2.769,7.298,2.501,7.335,2.225,7.335c-0.195,0-0.385-0.019-0.57-0.054c0.386,1.204,1.504,2.079,2.83,2.104c-1.037,0.812-2.343,1.297-3.762,1.297c-0.245,0-0.486-0.014-0.723-0.042C1.341,11.498,2.933,12,4.644,12c5.572,0,8.619-4.616,8.619-8.619c0-0.131-0.003-0.262-0.009-0.392C13.846,2.562,14.36,2.028,14.766,1.421z"></path></svg>
                    <span class="font-text">Twitter</span>
                  </a>
                </div>
                <div>
                  <a class="btn btn-icon theme-button social pinterest" href="//www.pinterest.com/pin/create/button/?url=<%=view_gallery_url(brand: params[:brand],gallery: params[:gallery])%>&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=<%= @content %>" data-pin-do="buttonPin" data-pin-config="none">
                    <svg class="sp-svg" version="1.1" viewBox="0 0 14 14"><path d="M7,0C3.134,0,0,3.134,0,7c0,2.965,1.845,5.498,4.449,6.518c-0.061-0.554-0.116-1.403,0.024-2.008C4.6,10.964,5.294,8.031,5.294,8.031S5.085,7.612,5.085,6.992c0-0.973,0.564-1.7,1.267-1.7c0.597,0,0.886,0.448,0.886,0.986c0,0.601-0.382,1.499-0.58,2.331C6.492,9.305,7.007,9.873,7.694,9.873c1.244,0,2.201-1.312,2.201-3.206c0-1.676-1.204-2.848-2.924-2.848c-1.992,0-3.161,1.494-3.161,3.038c0,0.602,0.232,1.247,0.521,1.597c0.057,0.069,0.066,0.13,0.049,0.201C4.326,8.877,4.208,9.353,4.185,9.45C4.154,9.578,4.083,9.605,3.951,9.543C3.076,9.136,2.53,7.858,2.53,6.832c0-2.208,1.604-4.236,4.625-4.236c2.428,0,4.315,1.73,4.315,4.043c0,2.413-1.521,4.354-3.632,4.354c-0.709,0-1.376-0.369-1.604-0.804c0,0-0.351,1.337-0.436,1.664c-0.158,0.608-0.585,1.37-0.87,1.835C5.582,13.89,6.278,14,7,14c3.866,0,7-3.134,7-7C14,3.134,10.866,0,7,0z"></path></svg>
                    <span class="font-text">Pinterest</span>
                  </a>
                </div>
                <div>
                  <a class="btn btn-icon theme-button social copy-link">
                    <svg class="sp-svg" version="1.1" viewBox="0 0 24 24"><path d="M22.1349524,10.8739668 L17.6296209,15.3777264 C15.1428825,17.8659914 11.1087817,17.8659914 8.62204332,15.3777264 C8.23013905,14.9873674 7.92378188,14.5472431 7.65469916,14.0931347 L9.74799052,11.9998569 C9.84752176,11.8995301 9.97039308,11.8420014 10.0877902,11.7743704 C10.2324091,12.2689379 10.4851189,12.7370303 10.8739377,13.1257968 C12.1157393,14.3683866 14.1367212,14.3668439 15.3777265,13.1257968 L19.8815153,8.62203722 C21.1241131,7.37944745 21.1241131,5.35927488 19.8815153,4.11748136 C18.6404602,2.87568784 16.6203243,2.87568784 15.3777265,4.11748136 L13.7758707,5.72086954 C12.47654,5.21465692 11.0760857,5.07859859 9.71295552,5.27840627 L13.1257824,1.86560155 C15.6140635,-0.621867184 19.6466216,-0.621867184 22.1349027,1.86560155 C24.6216908,4.35316982 24.6216908,8.38649805 22.1349524,10.8739668 L22.1349524,10.8739668 Z M10.2246456,18.2796903 L8.62204332,19.8830785 C7.38024175,21.1241255 5.35925984,21.1241255 4.11745827,19.8830785 C2.87565671,18.6404887 2.87565671,16.6203162 4.11745827,15.3777762 L8.62204332,10.8740166 C9.86464114,9.63142679 11.8840305,9.63142679 13.1258321,10.8740166 C13.5138547,11.2620366 13.7665645,11.730129 13.9127759,12.2239003 C14.0309693,12.155473 14.1522978,12.0994871 14.2518291,11.9999565 L16.3451204,9.9074749 C16.0776302,9.45182382 15.7696806,9.01324224 15.3777763,8.62213675 C12.8910379,6.13466801 8.85693706,6.13466801 6.36940244,8.62213675 L1.86561364,13.1258964 C-0.621871213,15.6141613 -0.621871213,19.6466933 1.86561364,22.1349583 C4.35309849,24.6216806 8.38645286,24.6216806 10.8739875,22.1349583 L14.2876106,18.7213573 C12.9236842,18.9219613 11.5232298,18.7851067 10.2246456,18.2796903 L10.2246456,18.2796903 Z"></path></svg>
                  <span class="font-text">Copy Link</span>
                </a>

    </div>

</div>
              </div>
            </div>
          </div>
        </div>
