<p id="notice"><%= notice %></p>

<h1>Listing Default Trigger Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Template Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_trigger_types.each do |default_trigger_type| %>
      <tr>
        <td><%= default_trigger_type.name %></td>
        <td><%= default_trigger_type.active %></td>
        <td><%= default_trigger_type.default_email_template_type.name %></td>
        <td><%= link_to 'Show', default_trigger_type %></td>
        <td><%= link_to 'Edit', edit_default_trigger_type_path(default_trigger_type) %></td>
        <td><%= link_to 'Destroy', default_trigger_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default trigger type', new_default_trigger_type_path %>
