<!-- top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- title -->
      <div class="page-title">
        <div class="row">
          <div class="col-md-6 col-sm-5 col-xs-5">
            <%= link_to "<span class='fa circle fa-arrow-left back-btn'></span>".html_safe,galleries_galleryhome_path(id: params[:id]) %>
            <h2>
              <div id="pageTitleHeaderText">Favourites</div>
            </h2>
            <h5 id="pageTitleSubHeaderText">xyz@gmail.com</h5>
          </div>
          <div class="col-md-6 col-sm-7 col-xs-7">
            <div class="btn-group on-page-help-container">
              <a href="#" class="on-page-help dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-question"></span>
              </a>
              <ul id="onPageHelp" class="dropdown-menu dropdown-menu-right arrow-upper-right" role="menu">
                <li><a href="#" target="_blank">Can I download all of my contacts' information?</a></li>
                <li><a href="#" target="_blank">How do I add and edit contacts?</a></li>
                <li><a href="#" target="_blank">How do I view a contact's activity?</a></li>
                <li><a href="#" class="bold" target="_blank">Browse Full Knowledge Base</a></li>
                <li><a href="#" >Email Us</a></li>
              </ul>
            </div>
            <div class="right-buttons text-right">
              <%= link_to "Send Files to Client", "#", class: "btn btn-primary", 'data-toggle': "modal", 'data-target': "#send_files_to_client", id: "Send_Files" %>
              <a class="btn btn-default" href="#">Create Mobile App</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /title -->
    </div>
  </div>
</div>
<!-- /top -->
<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <p>To give your clients access to these files, use the “Send Files to Client” button or set up digital downloads in the gallery.</p>
    </div>
    <div class="col-lg-6">
      <div class="pull-right">
        <%= link_to "Download Checked Files", "#", 'data-toggle': "modal", 'data-target': "#send_files_to_client", class: "btn btn-default btn-xs favourite-btn btn-bulkaction", style: "display:none" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div id="" class="table-responsive has-dropdown">
        <table class="table">
          <thead>
            <tr>
              <th>
                <div class="checkbox inside-check">
                  <%= check_box_tag "order_ids","on",false,id: "selAll"%>
                </div>
              </th>
              <th></th>
              <th>Filename</th>
              <th>Album</span></th>
              <th>Favorited</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @favorites.each do |favorite| %>
            <tr>
              <td>
                <div class="checkbox inside-check">
                  <%= check_box_tag "photo_ids[]",favorite.photo.id,false, class: 'check1'%>
                </div>
              </td>
              <td> <a href="<%= favorite.photo.image.url(:small) %>"  data-lightbox="example-set"> <%= image_tag favorite.photo.image.url(:small),size: "50x50" %> </a> </td>
              <td> <%= favorite.photo.image_file_name %> </td>
              <td> <% if favorite.photo.imageable_type == "Album" %><%= favorite.photo.imageable.title %> <% end %> </td>
              <td> <%= favorite.created_at.strftime("%-d %b %Y") %> </td>
              <td class="pull-right"> <%= link_to "Download",galleries_download_path(photo_id:  favorite.photo.id),class: "btn btn-default btn-xs favourite-btn" %> </td>
            </tr>
            <% end %>

          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default filenames">
        <div class="panel-heading">
          Filenames
        </div>
        <div class="panel-body">
          <p><%= @photos.pluck(:image_file_name).join(",") %></p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /main -->

<!-- Modal -->
<div id="send_files_to_client" class="modal" role="dialog" data-backrop="static"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send Files to Contact</h4>
      </div>
      <%= form_tag galleries_download_all_favorites_path do %>
      <div class="modal-body">
        <%= hidden_field_tag "favorite_ids"%>
        <p>Send an email to vma@techbit.email with a link to download these photos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= submit_tag "Submit Request",class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>

<script>
  $(document).ready(function(){
    var v=[];
    $(".checkbox input").click(function(){
      if($(this).is(':checked')){
        if($(this).val()=="on"){
          v=[];
          $('input[class^="check1"]').each(function(){
            v.push($(this).val());
            $(this).prop("checked",true);
            $('#favorite_ids').val(v.join(","));
          });
        }
        else{
          v.push($(this).val());
          $('#favorite_ids').val(v.join(","));
        }
      }else {
        $(this).parent('.checkbox').removeClass('checked-box');
        if($(this).val()=="on"){
          v=[]
          $('#favorite_ids').val(v.join(","));
        }else{
          var v1=v.indexOf($(this).val());
          if(v1 > -1){
            v.splice(v1,1)
          }
          $('#favorite_ids').val(v.join(","));
        }
      }
    });
  });
  $(".checkbox input").change(function(){
    if($('.checkbox .check1:checked').size()>0){
      $('.btn-bulkaction').css('display',"inline-block");
    }
    else{
      $('.btn-bulkaction').css('display',"none");
    }
  });
  $(".checkbox input").click(function(){
    if($(this).is(':checked')){
      $(this).parent('.checkbox').addClass('checked-box');
    }
    else{
      $(this).parent('.checkbox').removeClass('checked-box');
    }
  })
  $('#selAll').click(function(){
    if($(this).is(':checked')){
      $('.checkbox').addClass('checked-box');
    }
    else{
      $('.checkbox').removeClass('checked-box');
    }
  });
</script>
<script>
  $("#Send_Files").click(function(){
    $("#favorite_ids").val("<%= @photos.ids.join(",") %>");
  })
</script>
