<% content_for :head, "GalleryProofing | Gallery view"%>
<% content_for :body_class, "gallery-edit" %>
<% content_for :photo_class, "active"%>
<%#= javascript_include_tag "lightbox-plus-jquery.min.js" %>

<!-- top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- title -->
      <div class="page-title">
        <!-- gallery head -->
        <div class="gallery-meta">
          <div class="cover-photo-container clearfix pull-left">
            <div class="cover-photo default  pull-left">
              <%if @find_gallery.gallery_photo_id != nil%>
                <%=image_tag @find_pic.image.url(:small)%>
              <%elsif @find_gallery.cover_url.present?%>
                <%=image_tag @find_gallery.cover_url.url(:small)%>
              <% end %>
            </div>

            <div class="icon-cta" data-toggle="modal" data-target="cover_modal1">
              <% if @find_gallery.cover_url.present? || @find_gallery.gallery_photo_id.present?%>
                <%=link_to "Change<br>Cover".html_safe, "#profile-change" ,'data-toggle': "modal", class: "change-cover", id: "Gallery_cover"%>
              <% else %>
                <%=link_to "Add<br>Cover".html_safe, "#album-title-popup",'data-toggle': "modal", class: "change-cover" %>
              <% end %>
            </div>
          </div>
          <h3 class="gallery-title pull-left">
            <span class="name pull-left"><%=@find_gallery.name%></span>
            <a href="#" data-toggle="modal" data-target="#rename-modal"><span class="fa fa-pencil circle"></span></a>
          </h3>
          <div class="meta-line">
            <div class="status-flags">
              <div class="flag-active color-success-green"><%= @find_gallery.status%></div>
            </div>
            <div class="shoot-date"><%if @find_gallery.shoot_date.present?%><%=@find_gallery.shoot_date.strftime("%d-%b-%Y")%><% end %></div>
            <div class="photos-count">
              <span class="icon-photo"></span>
              <span class=""><%= @photos_count %></span>
            </div>
          </div>
        </div>
        <!-- /gallery head -->
        <div class="gallery-buttons pull-right text-right">
          <%= link_to "Share","#Share",'data-toggle': "modal",class: "btn btn-sm btn-link email-link email-gallery-link"%>
          <% if @find_gallery.contact_id == nil %>
          <!-- <%#= link_to 'Link a contact', galleries_addcontact_path(gallery_id: @find_gallery.id), class: "btn btn-link btn-sm" %> -->
          <%= link_to 'Link a contact', "#link-contact", 'data-toggle': "modal", class: "btn btn-link btn-sm" %>
          <% end %>
          <a href="#" class="btn btn-link btn-sm">Gallery Visitors</a>
          <!-- <a href="#" class="btn btn-link btn-sm show-archived" data-section="albums">Settings</a> -->

          <%= link_to "Client View", view_gallery_url(brand: @current_subdomain,gallery: @find_gallery.id),target: "_blank", class: "btn btn-link btn-sm" %>
          <!-- <%#= link_to "Client View", view_gallery_url(subdomain: @current_subdomain,gallery: @find_gallery.id),target: "_blank", class: "btn btn-link btn-sm" %> -->

          <%=link_to "Settings",edit_custom_gallery_layout_path(@custom_gallery_layout),class: "btn btn-link btn-sm show-archived"%>

          <div class="btn-group on-page-help-container">
            <a href="#" class="on-page-help dropdown-toggle" data-toggle="dropdown">
              <span class="fa fa-question"></span>
            </a>
            <ul id="onPageHelp" class="dropdown-menu dropdown-menu-right arrow-upper-right" role="menu">
              <li><a href="#" target="_blank">Can I download all of my contacts' information?</a></li>
              <li><a href="#" target="_blank">How do I add and edit contacts?</a></li>
              <li><a href="#" target="_blank">How do I view a contact's activity?</a></li>
              <li><a href="#" class="bold" target="_blank">Browse Full Knowledge Base</a></li>
              <li><a href="#" >Email Us</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix">


        </div>
      </div>
      <!-- /title -->
    </div>
  </div>
</div>
<!-- /top -->
<!-- main -->
<div id="main">
  <div id="bd" class="display-albums">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <!-- sidebar -->
          <%= render "sidebar"%>
    <!-- main content -->
    <div class="main-content">
      <div id="gallery-body"><%= render "allgalleryphotos", all_photos: @all_photos%></div>
    </div>
    <!-- /main content -->

  </div>
</div>
</div>
</div>
</div>
<!-- /main -->

</div>


<!-- Modal -->
<div class="modal" id="rename-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rename</h4>
      </div>

      <%= form_for(@gallery, url: {controller: "galleries", action: "update", id: params[:id]}, method: :patch) do |f|%>

      <div class="modal-body">
        <div class="form-group">
          <%=f.text_field :name,value: @find_gallery.name, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", "data-dismiss": "modal", class: "btn btn-default" %>
        <%= f.submit "Rename", class: "btn btn-sm btn-primary" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
<!-- /mMdal -->

<!-- Add Album Modal -->
<div class="modal fade" id="Add-album" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%=link_to "&times;".html_safe,galleries_galleryhome_path(id: params[:id]),class: "close"%>

        <h4 class="modal-title" id="myModalLabel">Create a New Album </h4>
      </div>
      <%= form_for @album,remote: true do |f| %>
      <div class="modal-body">

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title , class: "form-control"%>
        </div>
        <% if params[:album_id].present?%>
          <div>
            <%= f.hidden_field :gallery_id, value: params[:id]%>
            <%= f.hidden_field :parent, value: params[:album_id]%>
            <%= f.hidden_field :level, value: @level.level+1%>
          </div>
        <%else%>
          <div>
            <%= f.hidden_field :gallery_id, value: params[:id]%>
            <%= f.hidden_field :parent, value: 0%>
            <%= f.hidden_field :level, value: 0%>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%=link_to "Cancel",galleries_galleryhome_path(id: params[:id]),class: "btn btn-default"%>
          <%= f.submit "Add Album",id: "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- /mMdal -->

<!-- Share Modal -->
<div class="modal fade" id="Share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Email Link to this Gallery</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">

            <%= form_for @gallery_share,url: galleries_share_details_path(id: params[:id]) do |f|%>
            <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-group">
                <%=f.label :recipient,"To"%>
                <%=f.text_field :recipient,class: "form-control", name: "recipient"%>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="templateDescription">
                  <p>Use the Gallery Link template to share a gallery with your clients (i.e. - your gallery is ready!)</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-group">
                <%=f.label :email_template_id,"Template"%>
                <%= f.collection_select :email_template_id, current_brand.email_templates.all, :id,:name, {prompt: "Select Email Template" },{class: "form-control input-lg email-add-1 selectpicker"} %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-group">
                <%=f.label :subject,"Subject"%>
                <%=f.text_field :subject,value: "Your Gallery is Ready!",class: "form-control"%>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-group">
                <%=f.label :headline,"HeadLine"%>
                <%=f.text_field :headline,value: @find_gallery.name,class: "form-control"%>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-group">
                <%= f.label :button_text %>
                <p class="form-input-description">Clicking button will open gallery</p>
                <div class="row">
                  <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12">
                    <%= f.text_field :buttontext,value: "VIEW GALLERY", class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <%= f.label :message %>
                <%= f.text_area :message,value: "Hi!
                Your gallery is ready to be viewed.
                Thanks,
                #{current_brand.brand_name}", class: "form-control" %>
              </div>
            </div>
            <div class="actions pull-left">
              <%=link_to "Cancel",galleries_galleryhome_path(id: params[:id]),class: "btn btn-default"%>
              <%=f.submit "Send",class: "btn btn-primary"%>
            </div>
          </div>
          <% end %>

          <div class="col-md-7">
            <label>Email Preview</label>
            <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin: 0; padding: 0; width: 100% !important; line-height: 28px; background-color: #EEEEEE; border: none; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; color: #414141; font-size: 18px;">
              <tbody>
                <tr>
                  <td align="center" valign="top" class="bounds" style="border-collapse: collapse; color: #414141; margin: 0; padding: 14px 0px; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">
                    <table cellpadding="0" cellspacing="0" class="column" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; margin: 0; max-width: 600px; border: none;">
                      <tbody>
                        <!-- Above the white content area -->
                        <tr>
                          <td class="half-height-mobile" style="border-collapse: collapse; color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; line-height: 7px;">&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="border-collapse: collapse; color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">
                            <table cellspacing="0" cellpadding="0" class="content" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; background-color: #FFF; border-radius: 5px; text-align: left; width: 90%; margin: 0 auto;">
                              <tbody>
                                <tr>
                                  <td align="center" valign="top" style="border-collapse: collapse; color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">
                                    <p class="content-logo" style="margin: 0; color: #414141; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; margin-top: 60px; margin-bottom: 30px;">
                                      <a href="#" target="_blank" style="color: #4FBEE3; text-decoration: none;">
                                        <span style="color: #414141; font-weight: 400; text-transform: uppercase; font-size: 12px; letter-spacing: 2px; line-height: 15px; display: block; max-width: 240px;"><%= current_brand.brand_name %></span>
                                      </a>
                                    </p>
                                    <p class="content-icon" style="margin: 0; color: #414141; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; margin-bottom: 30px; line-height: 0;"> <% if @find_gallery.cover_url.present? %> <%=image_tag @find_gallery.cover_url.url(:original),style: "outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: 100%;"%> <% else %> <%= image_tag('/assets/rectangle-img.png')%> <% end %> </p>
                                    <h1 id="preview_subject" class="content-headline" style="color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; font-weight: 300; font-size: 24px; line-height: 29px;">i87i9o</h1>
                                    <p class="content-button" style="margin: 0; color: #414141; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; margin-top: 48px; margin-bottom: 18px;"><a id= "preview_button" href="http://techbit.shootproof.com/app/171844" target="_blank" style="color: #FFF; text-decoration: none; border-radius: 5px; background-color: #414141; text-transform: uppercase; font-size: 12px; line-height: 14px; padding: 18px;">button</a></p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="width-container studio-to-client" style="border-collapse: collapse; color: #414141; margin: 0; padding: 30px 20px 0 20px; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">
                                    <div class="content">
                                      <p id= "preview_body" style="margin: 0; color: #414141; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; margin-bottom: 28px;">
                                        Hi!

                                        Your gallery is ready to be viewed.

                                        Thanks,
                                        <%=current_brand.brand_name%>
                                      </p>
                                      <p style="margin: 0; color: #414141; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; margin-bottom: 28px;">
                                        Thanks,<br>
                                        Blah Blah
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="line-height: 30px; border-collapse: collapse; color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">&nbsp;</td>
                                </tr>
                              </tbody></table>
                              <table width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                <tbody><tr>
                                  <td style="border-collapse: collapse; color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="center" class="width-container footer" style="border-collapse: collapse; color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; text-align: center;">
                                    <p style="margin: 0; color: #414141; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">

                                    </p>
                                    <p class="copyright" style="margin: 0; color: #CCCCCC; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif; padding-top: 18px; font-weight: 300; font-size: 12px; line-height: 18px;">Copyright © 2016 techbit<br><span class="address"><a href="#" style="color: #CCCCCC !important; text-decoration: none !important; cursor: text;"><br><br>India</a></span>
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="border-collapse: collapse; color: #414141; margin: 0; padding: 0; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, &quot;Segoe UI Symbol&quot;, &quot;Helvetica Neue&quot;, &quot;BBAlpha Sans&quot;, &quot;S60 Sans&quot;, Arial, sans-serif;">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /mMdal -->


<!-- Album Cover Modal -->
<div class="modal" id="profile-change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to "Back", "#",  id: "back_link1" , style: "display:none;" %>
        <%= link_to "Back", "#", id: "back_link2" , style: "display:none" %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Cover-Modal-Title1">Gallery Cover</h4>
      </div>
      <%= form_for @find_gallery,html: {multipart: true}, url: {controller: "galleries", action: "update", id: params[:id]}, method: :patch do |f| %>
      <div class="modal-body">
        <div id="Two1" style="display:none">
          <%= form_for @find_gallery,html: {id: "Cover-Upload"}, url: {controller: "galleries", action: "update", id: params[:id]}, method: :patch do |f| %>
          <ul class="source-links">
            <li class="js-cover-flow-upload">
              <span class="btn btn-file">
                <p>Upload From Computer</p>
                <%=f.file_field :cover_url, onChange: "onFileSelected(event)", accept: "image/jpeg" %>
                <%= f.hidden_field :id, value: params[:id] %>
              </span>
              <span class="fa  fa-caret-right pull-right"></span>
            </li>
            <%if @rand_record.count == 0%>
              <li class="js-cover-flow-random" id="Choose-photo-li" style=" pointer-events:none;">
            <%else%>
              <li class="js-cover-flow-random" id="Choose-photo-li" >
            <% end %>
              <span class="btn btn-file">
                <p>Choose From Gallery</p>
              </span>
              <span class="fa  fa-caret-right pull-right"></span>
            </li>
          </ul>
          <%= f.submit "Save", style: "display:none;",id: "Pc"%>
          <% end %>
        </div>
        <div id="One1">
        <div id="Sample"></div>
        <div class="empty stack">
          <%if @find_gallery.gallery_photo_id != nil && @find_pic.image != nil %>
            <%=image_tag @find_pic.image.url,size: "355x237",id: "changecover"%>
          <%else%>
            <% if @find_gallery.cover_url.present?%>
                <!-- <script>
                  var image_path = '<% @find_gallery.cover_url.url %>'
               </script> -->
              <%=image_tag @find_gallery.cover_url.url,size: "355x237",id: "changecover"%>
              <%else%>
              <%= image_tag "",size: "355x237",id: "changecover"%>
            <% end %>
          <% end %>
            <%= hidden_field_tag :val %>
            <%= hidden_field_tag :param1,params[:id]%>

        </div>

      </div>

      <div id="Three1" style="display:none">
        <p>Select photo from the random gallery sample below</p>
        <div class="button-bar-centered">
          <button class="js-refresh-random-photos btn btn-sm btn-link" id= "reload_id" remote="true"><span class="fa fa-refresh"></span>Reload</button>
        </div>
        <%= hidden_field_tag :param,params[:id]%>
        <div class="random-photos-container">
          <%@rand_record.each do |gp|%>
            <div class="photo-thumb js-toggle-thumb-selection background-landscape" name="<%=gp.id%>" style="background-image:url('<%= gp.image.url %>');" id='<%="text_#{gp.id}"%>'></div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer pull-left">
        <div id="Footer-One1">
        <button data-toggle="modal" data-target="#album-title-popup" data-dismiss="modal" type="button" class="btn btn-default"><span class="fa fa-trash set-stack"></span>Remove</button>
        <!-- <%= link_to "<span class=\"fa fa-picture-o set-stack\"></span>Change".html_safe,"#album-add-cover",class: "btn btn-default",'data-toggle': "modal",'data-dismiss': "modal"%> -->
        <button type="button" class="btn btn-default" id="Change-btn1"><span class="fa fa-picture-o set-stack"></span>Change</button>
        <!-- <button data-toggle="modal" data-target="#album-add-cover" data-dismiss="modal" type="button" class="btn btn-default" id="Change-btn"><span class="fa fa-picture-o set-stack"></span>Change</button> -->
      </div>
      </div>
    </div>
      <div class="modal-footer">
        <div id="Modal-Footer-One1">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= link_to "Save","#",id: "Save-Link",class: "btn btn-primary"%>
        <!-- <%= f.submit "Save",class: "btn btn-primary"%> -->
      </div>
      <div class="button-bar-centered" id="Modal-Footer-Three1" style="display:none">
        <%= link_to "Ok","#",class: "btn btn-sm btn-primary",id: "OK1",disabled: true%>
        <!-- <button class="btn btn-sm btn-primary">Ok</button> -->
    </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /mMdal -->


<!-- Remove Cover Modal -->
<div class="modal" id="album-title-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Gallery Cover</h4>
      </div>
      <%= form_for @find_gallery,url: {controller: "galleries",action: "remove_cover_pic", id: params[:id]},method: :post do |f|%>
      <div class="modal-body">
        <div>
          <%=f.hidden_field :cover_url,value: nil%>
          <%= hidden_field :g_id,value: params[:g_id]%>
        </div>
        <div class="empty">
          <p class="empty-style">No Cover Photo</p>
          <%#= link_to "#profile-change","data-toggle": "modal" ,class: "btn btn-link btn-sm", id: "remove_set_gallery" do %>
          <%= link_to "Add Cover","#",class: "btn btn-primary",id: "Add-Cover1"%>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-primary">Save</button> -->
        <%= f.submit "Save",id: "Save",class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /mMdal -->

<!-- Modal -->
<div class="modal" id="link-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Link a Contact</h4>
      </div>
      <%= form_tag({action: "add_link_with_contact"}) do %>
      <div class="modal-body">
        <%= hidden_field_tag :param_id,params[:id]%>
        <p>Choose a contact to link to this gallery.</p>
        <%= collection_select(:id1, :contact_id, current_brand.contacts.all, :id, :combined_name_for_collection_select,{include_blank: "Choose a link"}, {class: "selectpicker" })%>
        <%= hidden_field_tag :gallery_id, params[:id] %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= submit_tag "Save", name: nil, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /mMdal -->
<!-- <script src="/assets/lightbox-plus-jquery.min.js"></script> -->

<!-- model for mobile app -->

<div class="modal" id="mobile_app_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="myModalLabel">Create a Mobile App</h4>
</div>
<div class="modal-body">
<%= form_for(@mobileapp,remote: true, :html => {:id => 'after_create_app'} ) do |f| %>
<!-- form_for(@order, :url => shipment_path, :html => { :method => "put" }) -->
  <div class="form-group mobile_app_name">
    <label>Name</label>
    <%= f.text_field :name,  class: 'form-control' %>
    <%= f.hidden_field :brand_id, :value => current_brand.id %>
  </div>
  <div class="form-group">
    <label>Linked to Gallery</label>
    <%= f.collection_select(:gallery_id, current_brand.galleries , :id, :name, { }, {class: "form-control input-lg selectpicker", "data-live-search": true, "data-size": 5}) %>

  </div>
    <div class="form-group">
      <label>App Theme</label>
      <%= f.collection_select(:color_logo_id, current_brand.color_logos , :id, :name, { }, {class: "form-control input-lg selectpicker", "data-live-search": true, "data-size": 5}) %>
      <%#= f.select :layout, Mobileapp::LAYOUT, {}, {class: "form-control input-lg selectpicker", "data-live-search": true, "data-size": 5} %>
  </div>

  <div class="form-group">
    <div class="check-box-app">
      <div class="checkbox">
        <%= f.check_box :contact_info  %>
        <label>Show Contact Info</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="check-box-app">
      <div class="checkbox">
          <%= f.check_box :social_sharing  %>
        <label>Social Sharing</label>
      </div>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :layout,"Layout" %>

    <div class=" col-lg-12">

    <div  class="radiocon ">
      <div  class="myradio selected" id="Cascade">
        <label>
          <span></span>
           <%= f.radio_button :layout, 'true',checked: true %>
          Cascade
          <%#= f.radio_button :layout, 'Cascade',checked: true%>
        </label>
      </div>
      <div  class="myradio" id="Subway">
        <label>
          <span></span>
          <%= f.radio_button :layout, 'false' %>
          Subway
          <%#= f.radio_button :layout, 'Subway'%>
        </label>
      </div>
    </div>
  </div>
  </div>

  <div class="form-group">
     <label>Language</label>
     <%= f.select :language, Mobileapp::LANGUAGE,{}, {class: "form-control input-lg selectpicker", "data-live-search": true, "data-size": 5}%>
   </div>

</div>

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<%= submit_tag "Create App", :class => "btn btn-primary", remote: true%>
</div>
<% end %>
</div>
</div>
</div>

<!-- model for mobile app -->
<!-- rename image model start -->
<div class="modal fade" id="rename-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop = "static">

  <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
</div>
<!-- rename image model end -->
<!-- Download selected start -->
<div class="modal fade" id="download_selected" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="Cover-Modal-Title">Download Photos</h4>
      </div>
      <div class="modal-body">
        <p>When the photos are ready for download, an email will<br>
           be sent to <%= @current_user.email %>. It should be just a<br>
            few moments!</p>
      </div>

      <div class="modal-footer">
        <div id="Modal-Footer-One1">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= link_to "Submit Request","#",id: "send_request",class: "btn btn-primary"%>
      </div>

      </div>

      </div>
  </div>
</div>
<!-- Download selected end-->


<script type="text/javascript">
$(document).ready(function(){
  $(".checkbox input").click(function(){
    if($(this).is(':checked')){
      $(".checkbox").parent().addClass('checked-box');
    }
    else{
      $(".checkbox").parent().removeClass('checked-box');
    }
  })
});
</script>

  <script>
  $("#Save-Link").click(function()
  {
    if ($("#val").val() == "")
    {
      $("#Pc").click();
    }else {
      $.ajax({
        type: 'get',
        url: '/galleries/update_cover?id=' + $("#val").val()+'&g_id='+$("#param1").val(),
        success: function() {
          window.location.reload();
        }
      });
    }
  })
  </script>

<script>
$("#OK1").click(function(){
  if($(this).attr("disabled",true)){
    event.preventDefault();
  }else{
    $("#cover-flow-random").modal('hide');
    $("#profile-change").modal('show');
  }
});
</script>
<!-- Loading modal within modal-->
<script>
$(".js-cover-flow-upload").change(function(){
  var $modal = $('#profile-change');
  setTimeout(function(){
    $('#album-add-cover').modal('hide');
    $modal.load('galleryhome', '', function(){
      $modal.modal('show');
      // alert($("#Sample").text);
    });
  }, 1000);
})
</script>
<script>
$("#Change-btn1").click(function(){
  $("#Two1").css("display","block");
  $("#One1").css("display","none");
  $("#Footer-One1").css("display","none");
  $("#Modal-Footer-One1").css("display","none");
  $("#Cover-Modal-Title1").text("Add Cover");
  $('#back_link1').css("display","block");
  $('#back_link2').css("display","none");
  $('#back_link1').click(function()
  {
    $("#Two1").css("display","none");
    $("#One1").css("display","block");
    $("#Footer-One1").css("display","block");
    $("#Modal-Footer-One1").css("display","block");
    $("#Cover-Modal-Title1").text("Gallery Cover");
    $('#back_link1').css("display","none");

  })
})
</script>
<script>
$("#gallery_cover_url").change(function(){
  var ext = $('#gallery_cover_url').val().split('.').pop().toLowerCase();
  if(ext != "jpeg" || ext != "jpg")
  {

  }
  if( ext == "jpeg" || ext == "jpg")
  {
    $('#back_link1').css("display","none");
    $("#Two1").css("display","none");
    $("#One1").css("display","block");
    $("#Footer-One1").css("display","block");
    $("#Modal-Footer-One1").css("display","block");
    $("#Cover-Modal-Title1").text("Gallery Cover");
    $('#back_link2').css("display","block");
    $('#back_link2').click(function()
    {
      back_to_add_cover();
    })
  }
});
</script>
<script>
$("#Choose-photo-li").click(function(){
  $("#Two1").css("display","none");
  $("#One1").css("display","none");
  $("#Footer-One1").css("display","none");
  $("#Modal-Footer-One1").css("display","none");
  $("#Three1").css("display","block");
  $("#Modal-Footer-Three1").css("display","block");
  $("#Cover-Modal-Title1").text("Choose Cover");
  $("#back_link1").click(function()
  {
      $("#One1").css("display","none");
      $("#Three1").css("display","none");
      $("#Two1").css("display","block");
      $("#Modal-Footer-One1").css("display","none");
      $("#Modal-Footer-Three1").css("display","none");
      $("#Footer-One1").css("display","none");
      $("#Cover-Modal-Title1").text("Add Cover");
        $("#back_link1").css("display","block")
        $("#back_link1").click(function()
        {
          $("#One1").css("display","block");
          $("#Three1").css("display","block");
          $("#Two1").css("display","none");
          $("#Modal-Footer-One1").css("display","block");
          $("#Footer-One1").css("display","block");
          $("#Cover-Modal-Title1").text("Gallery Cover");
          $("#Three1").css("display","none")
          $("#back_link1").css("display","none")
        })
  });
});
</script>
<script>
$("#Add-Cover1").click(function(){
  $("#album-title-popup").modal('hide');
  $("#profile-change").modal("show");
  $("#Two1").css("display","block");
  $("#One1").css("display","none");
  $("#Footer-One1").css("display","none");
  $("#Modal-Footer-One1").css("display","none");
  $("#Three1").css("display","none");
  $("#Modal-Footer-Three1").css("display","none");
  $("#Cover-Modal-Title1").text("Add Cover");
  $("#back_link1").css("display","block");
});
  $("#profile-change .close").click(function()
  {
    $("#profile-change").modal("hide");
    $("#album-title-popup").find(".close").click();
  });
</script>

<script type="text/javascript">
  $(document).ready(function()
  {
      $("#add_set_as_gallery_cover").css("display","none");
      $("#add_create_mobile_app").css("display","none");
      $("#add_download_link").css("display","none");
      $('#delete_from_header').css('display','none');
      $('#rename_image_id').css('display','none');
  });
  var image_array=new Array;
  $('.photo-tile').mousedown(function(event)
  {
    if(event.button == 2)
     {
      var uicount = document.getElementsByClassName('ui-selected').length;
      if (uicount < 1)
      {
        $(this).find(".inside-img").addClass("ui-selected");
        $('#download_all').css('display','none');
        $('#delete_all').css('display','none');
        $('#mobile_app2').prop('disabled', true);
        $("#mobile_app2").attr("disabled","disabled");
        $('#mobile_app').prop('disabled', true);
        $("#mobile_app").attr("disabled","disabled");
        $('#remove_set_gallery').prop('disabled', false);
        $("#remove_set_gallery").removeAttr("disabled");
        $('#add_set_as_gallery_cover').css('display','block');
        $('#add_download_link').css('display','block');
        $("#add_photos_link_disable").css("display","none");
        $("#remove_add_album").css("display","none");
        $("#remove_file_link").css("display","none");
        $("#remove_refresh_watermark").css("display","none");
        $('#add_create_mobile_app').css('display','block');
        $('#delete_from_header').css('display','block');
        $('#rename_image_id').css('display','block');

        $("#set_cover_context").click(function()
          {
            document.getElementById('changecover').src = $('.inside-img.ui-selected img').attr('src');
            $('#val').val($('.inside-img.ui-selected img').data('id'));
          })

            image_id = $(this).find('img').attr('data-id');
            if ($.inArray(image_id, image_array) == -1)
            {
               image_array.push(image_id);
           }
      }else{

      }
    }
    else if (event.button == 0)
    {
      if ($(this).find(".inside-img").hasClass("ui-selected"))
      {
        $(this).find(".inside-img").removeClass("ui-selected");
        // var image_array = [];
        image_id = $(this).find('img').attr('data-id');
        var i = image_array.indexOf(image_id);
          if(i != -1)
          {
            image_array.splice(i, 1);
          }
        var uicount = document.getElementsByClassName('ui-selected').length;
        if( uicount == 0 )
        {
            $('#delete_from_header').css('display','none');
            $('#rename_image_id').css('display','none');

            $('#download_all').css('display','block');
            $('#delete_all').css('display','block');
            $("#add_set_as_gallery_cover").css("display","none");
            $("#add_create_mobile_app").css("display","none");
            $("#add_download_link").css("display","none");
            $("#add_photos_link_disable").css("display","block");
            $("#remove_add_album").css("display","block");
            $("#remove_file_link").css("display","block");
            $("#remove_refresh_watermark").css("display","block");
            $('#all_selected').css('display','block');
        }
        if (uicount == 1)
        {
            $('#delete_from_header').css('display','block');
            $('#rename_image_id').css('display','block');
            $('#download_all').css('display','none');
            $('#delete_all').css('display','none');
            $('#rename_image_id').removeClass('disabled');
            $('#rename_image_id').prop('  disabled', false);
            $('#rename_image_id2').removeAttr('disabled');
            $('#rename_image_id2').prop('disabled', false);
            $('#mobile_app2').prop('disabled', true);
            $("#mobile_app2").attr("disabled","disabled");
            $('#remove_set_gallery2').prop('disabled', false);
            $("#remove_set_gallery2").removeAttr("disabled");
            $('.rename_image_id').prop('disabled', false);
            $(".rename_image_id").removeAttr("disabled");
            $('#mobile_app').prop('disabled', true);
            $("#mobile_app").attr("disabled","disabled");
            $('#remove_set_gallery').prop('disabled', false);
            $("#remove_set_gallery").removeAttr("disabled");
            $('#add_create_mobile_app').css('display','block');
            $('#add_set_as_gallery_cover').css('display','block');

            $("#remove_set_gallery, #remove_set_gallery2").click(function()
            {
              document.getElementById('changecover').src = $('.inside-img.ui-selected img').attr('src');
              $('#val').val($('.inside-img.ui-selected img').data('id'));
            });
        }
        if (uicount > 1)
        {
            $('#delete_from_header').css('display','block');
            $('#rename_image_id').css('display','none');
            $('#rename_image_id').addClass('disabled');
            $('#rename_image_id').prop('disabled', true);
            $('#rename_image_id2').attr("disabled","disabled");
            $('#rename_image_id2').prop('disabled', true);
            $('#remove_set_gallery2').prop('disabled', true);
            $("#remove_set_gallery2").attr("disabled","disabled");
            $('.rename_image_id').prop('  disabled', true);
            $(".rename_image_id").attr("disabled","disabled");
            $('#remove_set_gallery').prop('disabled', true);
            $("#remove_set_gallery").attr("disabled","disabled");
            $('#mobile_app').prop('disabled', false);
            $("#mobile_app").removeAttr("disabled");
            $('#add_create_mobile_app').css('display','block');
            $('#add_set_as_gallery_cover').css('display','block');
       }
      }
      else
      {
        $(this).find(".inside-img").addClass("ui-selected");
        image_id = $(this).find('img').attr('data-id');
        if ($.inArray(image_id, image_array) == -1)
        {
           image_array.push(image_id);
        }
        var uicount = document.getElementsByClassName('ui-selected').length;
        if (uicount == 1)
        {
            $('#delete_from_header').css('display','block');
            $('#rename_image_id').css('display','block');
            $('#download_all').css('display','none');
            $('#delete_all').css('display','none');
            $('#mobile_app2').prop('disabled', true);
            $("#mobile_app2").attr("disabled","disabled");
            $('#mobile_app').prop('disabled', true);
            $("#mobile_app").attr("disabled","disabled");
            $('#remove_set_gallery').prop('disabled', false);
            $("#remove_set_gallery").removeAttr("disabled");
            $('#add_set_as_gallery_cover').css('display','block');
            $('#add_download_link').css('display','block');
            $("#add_photos_link_disable").css("display","none");
            $("#remove_add_album").css("display","none");
            $("#remove_file_link").css("display","none");
            $("#remove_refresh_watermark").css("display","none");
            $('#add_create_mobile_app').css('display','block');

            $("#remove_set_gallery, #remove_set_gallery2").click(function()
            {
              document.getElementById('changecover').src = $('.inside-img.ui-selected img').attr('src');
              $('#val').val($('.inside-img.ui-selected img').data('id'));
            });
        }
        if (uicount > 1)
        {
            $('#delete_from_header').css('display','block');
            $('#rename_image_id').css('display','none');
            $('#rename_image_id').addClass('disabled');
            $('#rename_image_id').prop('  disabled', true);
            $('#mobile_app2').prop('disabled', false);
            $("#mobile_app2").removeAttr("disabled");
            $('#remove_set_gallery2').prop('disabled', true);
            $("#remove_set_gallery2").attr("disabled","disabled");
            $("#rename_image_id2").attr("disabled","disabled");
            $('#rename_image_id2').prop('  disabled', true);
            $('#remove_set_gallery').prop('disabled', true);
            $("#remove_set_gallery").attr("disabled","disabled");
            $('#mobile_app').prop('disabled', false);
            $("#mobile_app").removeAttr("disabled");
            $("#add_photos_link_disable").css("display","none");
            $("#remove_add_album").css("display","none");
            $("#remove_file_link").css("display","none");
            $("#remove_refresh_watermark").css("display","none");
            $('#all_selected').css('display','none');
            $('#add_create_mobile_app').css('display','block');
            $('#add_set_as_gallery_cover').css('display','block');
        }
      }
    }
  })

</script>


<script>
    $("#after_create_app").submit(function(e)
    {
      e.preventDefault();
      $('#after_create_app').append('<input type="hidden" value="'+ image_array + '"name="mobile_app_photo" />')
    });
</script>

<!-- Raname image start -->
<script>
$(document).ready(function()
{
   $("#delete_context, #delete_from_header").click(function()
   {
      $.ajax(
      {
              type: 'GET',
              url: '/galleries/delete_selected',
              data: {photo: image_array}
      }).success();
   });

  if ($('.inside-img.ui-selected'))
    {
        $("#rename_context, #rename_image_id").click(function()
        {
            image_id = $('.inside-img.ui-selected img').attr('data-id');
               $.ajax({
                type: 'GET',
                url: '/galleries/find_image',
                data: {id: image_id}
            }).success();
        });
    }
});
</script>
<!-- Raname image end -->

<!-- script for radio button start-->
<script type="text/javascript">
$(".myradio").click(function() {
 $(this).parent(".radiocon").find('.selected').removeClass('selected');
 $(this).addClass('selected');
});
$(".myradio1").click(function() {
 $(this).parent(".radiocon1").find('.selected').removeClass('selected');
 $(this).addClass('selected');
});
</script>
<!-- script for radio button end-->

<!-- code for right click -->
<ul class='custom-menu' id="gallery_hide" >
 <li id= "set_cover_context"> <%= link_to "Set as Gallery Cover","#profile-change","data-toggle": "modal" ,class: "btn btn-sm", id: "remove_set_gallery2" %></li>
 <li id= "mobile_app_context"><%= link_to "Create Mobile App","#mobile_app_create","data-toggle": "modal" ,class: "btn btn-sm", id: "mobile_app2" %></li>
 <li id= "download_context"><%=link_to "Download",galleries_selected_download_path(),"data-toggle": "modal" ,class: "btn btn-sm", id: "selected_download_context" %></li>
 <li id= "rename_context" ><%= link_to "Rename","#rename-photo","data-toggle": "modal" ,class: "btn btn-sm", id: "rename_image_id2" %></li>
 <li id= "delete_context"><%=link_to "Delete","#",class: "btn btn-sm" %></li>
</ul>
<!-- code right click end -->
<!-- script for right click -->
<script>
  $('.inside-img').bind("contextmenu", function (event)
  {
   event.preventDefault();
   $("#gallery_hide").finish().toggle(100).
     css({
          top: event.pageY + "px",
          left: event.pageX + "px"
     });
  });
  $(document).bind("mousedown", function (e)
  {
     if (!$(e.target).parents("#gallery_hide").length > 0)
     {
         $("#gallery_hide").hide(100);
     }
  });
</script>


<!--  download selected start-->
<script >
$("#add_download_link, #download_context").click(function(e)
  {
    if(image_array.length < 2)
    {
      if ($('.inside-img.ui-selected'))
      {
         var image_id = $('.inside-img.ui-selected img').attr('data-id');
         var newPath = '/galleries/selected_download?photo=' + image_id ;
         $('#selected_download_context').attr('href', newPath);
         $('#selected_download_header').attr('href', newPath);
      }
    }
    else
    {
         e.preventDefault();
          $("#download_selected").modal("show");
          $("#send_request").click(function()
          {
              $.ajax({
                type: 'GET',
                url: '/galleries/download_mail_send',
                data: {photo: image_array}
              }).success();
          });
      }
  });
</script>
<!--  download selected end-->

<!-- reload image start  -->
<script>
$('#reload_id').click(function(e)
{
  e.preventDefault();
    $("#OK1").attr("disabled",true);
    $.ajax(
    {
        type: 'GET',
        url: '/galleries/load_images',
        data: {id: '<%= @find_gallery.id %>'}
    });
})
</script>
<!--  reload image start-->

<script>
$('#Choose-photo-li').click(function(){
  $("#OK1").attr("disabled",true);
  $.ajax(
  {
      type: 'GET',
      url: '/galleries/load_images',
      data: {id: '<%= @find_gallery.id %>'}
  });
})
</script>

<script>
$("#back_link1").click(function(){
  if ($("#One1").css("display") == "block")
  {
    $("#Two1").css("display","block");
    $("#One1").css("display","none");
    $("#Cover-Modal-Title1").text("Add Cover");
    $("#Modal-Footer-One1").css("display","none");
    $("#Footer-One1").css("display","none");
  }
  else
  {
    if ($("#One1 #changecover").attr('src') == "")
    {
      $("#profile-change").modal('hide');
      $("#album-title-popup").modal('show');
    }
    else
    {
      $("#Two1").css("display","none");
      $("#Cover-Modal-Title1").text("Gallery Cover");
      $("#Modal-Footer-One1").css("display","block");
      $("#Footer-One1").css("display","block");
      $("#One1").css("display","block");
      $('#back_link1').css("display","block");

    }
  }
})

function back_to_add_cover()
{
  $('#back_link2').css("display","none");
  $('#back_link1').css("display","block");
  $("#Two1").css("display","block");
  $("#One1").css("display","none");
  $("#Footer-One1").css("display","none");
  $("#Modal-Footer-One1").css("display","none");
  $("#Cover-Modal-Title1").text("Add Cover");
  $('#album-title-popup').modal('hide');
  $('#back_link1').click(function(){
    back_to_gallery_cover();
  })
}
function back_to_gallery_cover()
{
  $("#Cover-Modal-Title1").text("Gallery Cover");
  $("#One1").css("display","block");
  $("#Footer-One1").css("display","block");
  $("#Modal-Footer-One1").css("display","block");
  $("#Two1").css("display","none");
  $("#back_link1").css("display","block")
  $("#back_link1").click(function()
  {
      back_to_add_cover();
  });
}
$('#Gallery_cover').click(function()
{
  $("#back_link1").css("display","none");
  $("#Cover-Modal-Title1").text("Gallery Cover");
  $("#One1").css("display","block");
  $("#Footer-One1").css("display","block");
  $("#Modal-Footer-One1").css("display","block");
  $("#Two1").css("display","none");
})
</script>
<script>
// function myFunction()
// {
//       document.getElementById('changecover').src = window.URL.createObjectURL(this.files[0]);
// }
function onFileSelected(event)
{
  var selectedFile = event.target.files[0];
  var reader = new FileReader();
  var imgtag = document.getElementById("changecover");
  imgtag.title = selectedFile.name;
  var ext = selectedFile.name.split('.').pop().toLowerCase();
  if(ext != "jpeg" || ext != "jpg")
  {

  }
  if( ext == "jpeg" || ext == "jpg")
  {
      reader.onload = function(event)
      {
        imgtag.src = event.target.result;
      };
      reader.readAsDataURL(selectedFile);
  }
}
</script>

<script>
$( document ).ready(function() {

    // albums_albumhome_path(gallery_id: params[:id],album_id: child1.id)
});
</script>
