<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<p>
  <strong>Shoot date:</strong>
  <%= @gallery.shoot_date %>
</p>

<!-- <p>
  <strong>Cover url:</strong>
  <%= @gallery.cover_url %>
</p> -->
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
