<h1>Editing Brand</h1>

<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_name %><br>
    <%= f.text_field :brand_name, required: true %>
  </div>
  <div class="field">
    <%= f.label :website_url %><br>
    <%= f.text_field :website_url, required: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email ,  required: true%>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, required: true %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.select :primary_country, options_for_country, {}, class: "selectpicker" %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.number_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, required: true %>
  </div>
  <div class="field">
    <%= f.hidden_field :default %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @brand %> |
<%= link_to 'Back', brands_path %>
