<div id="main">
  <div id="bd">
    <div class="container-fluid" id="pageHeaderTitle">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <div class="row">
              <div class="col-md-6 col-sm-5 col-xs-5">
                <h2>
                  <div id="pageTitleHeaderText">Files By Order Report</div>
                </h2>
              </div>
              <div class="col-md-6 col-sm-7 col-xs-7">
                <div class="btn-group on-page-help-container">
                  <a data-toggle="dropdown" class="on-page-help dropdown-toggle" href="#"><svg class="touch-icon on-page-help"><use xlink:href="/v2/content/201607261469543467/svg.svg#iconOnPageHelp"/></svg></a>
                  <ul role="menu" class="dropdown-menu dropdown-menu-right arrow-upper-right" id="onPageHelp">
                    <li>Browse Full Knowledge Base</li>
                    <li><svg class="icon-email"><use xlink:href="/v2/content/201607261469543467/svg.svg#iconEmail"/></svg>Email Us</li>
                  </ul>
                </div>
                <div class="right-buttons text-right">
                  <%= link_to "Download as CSV",reports_ordered_files_path(format: "csv"),class: "btn btn-default" %>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row filter">
          <div class="col-sm-8 select2-sm">
            <form method="get">
              <% if @checkouts.present? %>
                <%= select_tag :year,options_for_select((@checkouts.minimum("created_at")).year..(@checkouts.maximum("created_at")).year),{class: "inputsm selectpicker col-lg-3",'data-live-search': true} %>
              <% else %>
                <%= select_tag :year,options_for_select([Date.today.year]),{class: "inputsm selectpicker col-lg-3",'data-live-search': true} %>
              <% end %>
              <!--  -->
              <%= select_tag :gallery,options_from_collection_for_select(@gallery,:id, :name),{class: "inputsm selectpicker col-lg-3",'data-live-search': true,include_blank: "All Galleries"} %>

              <!-- <select name="event_id" tabindex="-1" style="display: none;">
                <option value="">- All Galleries -</option>
                <option value="2976516">Discounts</option>
                <option value="2910016">new</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 126px;"><span class="selection"><span aria-expanded="false" aria-haspopup="true" aria-autocomplete="list" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-event_id-ez-container"><span class="select2-selection__rendered" id="select2-event_id-ez-container" title="- All Galleries -">- All Galleries -</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span> -->
              <input type="submit" value="Filter" id="ordered_files_filter" class="btn btn-link btn-sm">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 ">
            <div class="table-responsive">
              <div class="table">
                <div class="table-head">
                  <div class="tr">
                    <div class="th"><a href="?sort_by=order_date">Order Date</a></div>
                    <div class="th"><a href="?sort_by=order_id">Order ID</a></div>
                    <div class="th"><a href="?sort_by=event">Gallery</a></div>
                    <div class="th"><a href="?sort_by=customer_name">Customer Name</a></div>
                    <div class="th"><a href="?sort_by=photo_original_names">Files Ordered</a></div>
                  </div>
                </div>
                <div class="table-body">
                  <% @checkouts.each do |checkout| %>
                    <div class="tr">
                      <div class="td"><%= checkout.created_at.strftime('%d-%b-%Y') %></div>
                      <div class="td"><%= checkout.id %></div>
                      <div class="td">
                          <%= checkout.gallery_visitor.gallery.name %>
                      </div>
                      <div class="td"><%= checkout.shipping_first_name %> <%= checkout.shipping_last_name %></div>
                      <div class="td">
                        <% @count = checkout.line_items.count %>
                        <% checkout.line_items.each do |a| %>
                          <%= a.photo.image_file_name %>
                          <% @count = @count - 1 %>
                          <% if @count > 0 %>
                            <%= ", " %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  $("#ordered_files_filter").click(function(){
    $.ajax({
      type: "get",
      url: "/reports/ordered_files?days="+$(this).val(),
      data: {year: $(this).parent().find('select[name="year"]').val(),gallery: $("#ordered_files_filter").parent().find('select[name="gallery"]').val()}
    }).success();
  });
  </script>
